@import 'tailwindcss';
@plugin "daisyui" {
     themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where(:has(input.theme-controller[value=dark]:checked) *, :has(input.theme-controller[value=dark]:checked)));

@theme {
     /* COLORS */
          /* Main */
          --color-main-light: #ffffff;
          --color-main-dark: #121212;

          /* GRADIENTS */
          --background-image-gradient-main-light: linear-gradient(180deg,rgba(242, 242, 242, 1) 50%, rgba(181, 181, 181, 1) 100%);
          --background-image-gradient-main-dark: linear-gradient(180deg,rgba(23, 23, 23, 1) 50%, rgba(18, 18, 18, 1) 100%);

          /* Primary */
          --color-primary-light: #EBEBEB;
          --color-primary-dark: #121212;
          
          /* Secondary */
          --color-secondary-light: #C9C9C9;
          --color-secondary-dark: #121212;

          /* Tertiary */
          --color-tertiary-dark: #292929;

     /* FONTS */
     --font-wordmark: 'Sekuya Regular';
     --font-motto: 'Prompt';
     --font-handwritten: 'Indie Flower';
     --font-ui: 'Google Sans';

     /* RADIUS */
     --radius-ui: 10px;
}

@layer {

     /* Page Background */
     .page {
          @apply w-screen h-screen;
          @apply m-0;
          @apply relative;
          @apply bg-gradient-main-light dark:bg-gradient-main-dark;
          @apply text-main-dark dark:text-main-light;
     }

     .dashboard {
          @apply rounded-ui overflow-hidden;
          @apply w-screen h-screen;
          @apply bg-gradient-main-light dark:bg-gradient-main-dark;
          @apply text-main-dark dark:text-main-light;
     
          .left-sidebar {
               @apply p-2 px-2;
               @apply w-[25%] max-w-55 h-full;
               @apply font-ui;
               @apply dark:text-main-light/75 text-main-dark/45;
               @apply border-r;
               @apply border-main-dark/50 dark:border-main-light/50;
          }

     }

     .footer-nav {
          @apply md:hidden flex gap-1;
          @apply w-full h-20 px-2 pb-2;
          @apply rounded-t-[37%];
          @apply bg-white/25 dark:bg-black/40;
          @apply border-t-4 border-white/50 dark:border-black/50;
          @apply overflow-hidden;
     }

     .header-options {
          @apply p-2 py-3;
          @apply overflow-hidden;
          @apply rounded-b-ui rounded-l-ui;
          @apply text-black/70 dark:text-white/70;
          @apply bg-primary-light/50 dark:bg-primary-dark/50 md:dark:bg-black/40;
          @apply border border-white/30 backdrop-blur-2xl shadow-xl/30;
     }

}

/* FONTS */
@font-face {
     font-family: 'Sekuya Regular';
     src: url('../assets/font/text/Sekuya-Regular.ttf');
}
@font-face {
     font-family: 'Google Sans';
     src: url('../assets/font/ui/GoogleSans-Bold.ttf');
}
@font-face {
     font-family: 'Prompt';
     src: url('../assets/font/text/Prompt-Bold.ttf');
}
@font-face {
     font-family: 'Indie Flower';
     src: url('../assets/font/handwritten/IndieFlower-Regular.ttf');
}